


/* Text box */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;}

/* -------------------- */


/* Button */
button{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 250px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  background: #fff;
  color: #0275d8;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

/* button:hover{
  background: #0275d8;
  color: #fff;
} */

/* button span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
} */

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

button.is_active{
  width: 40px;
  height: 40px;
}

button.is_active .success{
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span{
  opacity: 0;
  visibility: hidden;
}